<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redirect</title>
</head>

<body>
    <form action="/" method="POST">
        <input class="field" name="title" placeholder="title" required>
        <input class="field" name="description" placeholder="description">
        <input class="field" name="url" placeholder="URL" required>
        <button>Save</button>
    </form>
</body>

</html>